# TOPIC: String Based Assignment Problem

##  1. Write a program to reverse a string.

In [2]:
ip=input("Enter a string: ")

Enter a string:  Naveen Lara

In [8]:
rev_ip= ip[::-1]# slicing notation, start with index 0.ends with the default length of the string, increment with -1 
print(rev_ip)

araL neevaN

# 2. Check if a string is a palindrome.

In [15]:
ip_value=input("Enter a string: ")
rev_ip_val= ip_value[::-1]
if rev_ip_val==ip_value:
    print("The string is a Palindrome")
else:
    print("The string is not a Palindrome")

Enter a string:  malayalam

The string is a Palindrome

## 3. Convert a string to uppercase.

In [17]:
a=input("Enter a string: ")
uppercase= a.upper() # using builtin uppercasefn
print(uppercase)

Enter a string:  pwskills

PWSKILLS

## 4. Convert a string to lowercase.

In [18]:
c=input("Enter a string: ")
lowercase= c.lower() # using builtin uppercasefn
print(lowercase)

Enter a string:  PWSKILLS

pwskills

## 5. Count the number of vowels in a string.

In [21]:
op=set() # creating a set ,so that op list cannot hold duplicates
ip_str=str(input("Type a Sentence: ")) # input from the user
ip_str=ip_str.lower() # using lower fn to avoid case errors
vowels= ["a","e","i","o","u"]
for i in vowels:
    op.update(i) # using append fn to add the extracted vowels to op List
print(f"The string {ip_str} contains {len(op)} Vowels")

Type a Sentence:  Education

The string education contains 5 Vowels

## 6. Count the number of consonants in a string.

In [34]:
oput=set() # creating a set ,so that oput list cannot hold duplicates
ip_string=str(input("Type a Sentence: ")) # input from the user
ip_string=ip_string.lower() # using lower fn to avoid case errors
vowels= ["a","e","i","o","u"]
for i in ip_string:
    if i not in vowels:
        oput.update(i) # using append fn to add the extracted vowels to op List
print(f"The string ; {ip_string} contains {len(oput)} Consonants")

Type a Sentence:  the quick brown fox jumps over a lazy dog

The string ; the quick brown fox jumps over a lazy dog contains 22 Consonants

## 7. Remove all whitespaces from a string.

In [33]:
z=input("Enter a string: ")
y=z.replace(" ","") # using replace function 
print(y)

Enter a string:  p w skill s

pwskills

# 8. Find the length of a string without using the `len()` function.

In [46]:
input_val= input("Enter a string: ")
l=0
for i in input_val:
    l+=1

print(f"the length of the string; {input_val} is {l}")

Enter a string:  pneumonoultramicroscopicsilicovolcanoconiosis

the value of the string; pneumonoultramicroscopicsilicovolcanoconiosis is 45

# 9. Check if a string contains a specific word.

In [47]:
input_value=input("Enter a string: ")
specific_word= input("enter a specific word: ")

if specific_word in input_value:
    print(f"The word {specific_word} is present in the string ,{input_value}")
else: 
    print(f"The word {specific_word} is not present in the string ,{input_value}")

Enter a string:  the quick brown fox jumps over a lazy dog
enter a specific word:  brown

The word brown is present in the string ,the quick brown fox jumps over a lazy dog

# 10. Replace a word in a string with another word.

In [48]:
text="Department of mechanical engineering"
out= text.replace("mechanical","automobile")
print(out)

Department of automobile engineering

## 11. Count the occurrences of a word in a string.

In [52]:
string= "all is well,all is well"
word="all"
string.count(word)

2

# 12. Find the first occurrence of a word in a string.

In [54]:
string="play stupid games,win stupid prizes"
word="stupid"
string.find(word)

5

# 13. Find the last occurrence of a word in a string.

In [56]:
string="pneumonoultramicroscopicsilicovolcanoconiosis"
string.rindex("p")

21

# 14. Split a string into a list of words.

In [57]:
string= "Split a string into a list of words"
string.split()

['Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

## 15. Join a list of words into a string.

In [63]:
string=['Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words'] 
" ".join(string)

'Split a string into a list of words'

## 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [64]:
t="Convert a string where words are separated by spaces to one where words are separated by underscores"
t.replace(" ","_")

'Convert_a_string_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores'

##  17. Check if a string starts with a specific word or phrase.

In [69]:
text="Check if a string starts with a specific word or phrase."
word="Check"
if text.startswith(word):
    print("The string starts with a specific word")

The string starts with a specific word

## 18. Check if a string ends with a specific word or phrase.

In [72]:
text="Check if a string ends with a specific word or phrase"
word="phrase"
if text.endswith(word):
    print("The string ends with a specific word")

The string ends with a specific word

## 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [74]:
string="hello world"
string.title()

'Hello World'

## 20. Find the longest word in a string.

In [83]:
string="Find the longest word in a string"
w=string.split()
max(w,key=len)

'longest'

##  21. Find the shortest word in a string.

In [84]:
string="Find the longest word in a string"
w=string.split()
min(w,key=len)

'a'

# 22. Reverse the order of words in a string.

In [4]:
string="Reverse the order of words in a string"
w=string.split() # converting the string into a list
rw=w[::-1] # reversing the list of elements in a list
" ".join(rw) # again converting it as a string

'string a in words of order the Reverse'

## 23. Check if a string is alphanumeric.

In [15]:
string= "100max"
string.isalnum()

True

##  24. Extract all digits from a string.

In [25]:
string='I fear not the man who has practiced 10000 kicks once, but I fear the man who has practiced one kick 10000 times.'
l1=string.split()
for i in l1:
    if i.isdigit():
        print(i)

10000
10000

## 25. Extract all alphabets from a string.

In [29]:
string='I fear not the man who has practiced 10000 kicks once, but I fear the man who has practiced one kick 10000 times.'
l1=string.split()
l2=[]
for i in l1:
    if i.isalpha():
        l2.append(i)
" ".join(l2)

'I fear not the man who has practiced kicks but I fear the man who has practiced one kick'

## 26. Count the number of uppercase letters in a string.

In [37]:
string='I fear not the man who has praCTICed 10000 kicks once, but I fear the man who has practiced one kick 10000 times.'
l3=[]
for i in string:
    if i.isupper():
        l3.append(i)
print(len(l3))

6

## 27. Count the number of lowercase letters in a string.

In [39]:
string='I fear not the man who has praCTICed 10000 kicks once, but I fear the man who has practiced one kick 10000 times.'
l4=[]
for i in string:
    if i.islower():
        l4.append(i)
print(len(l4))

73

## 28. Swap the case of each character in a string.

In [42]:
string= "Swap THE CASE of each character in a string"
string.swapcase()

'sWAP the case OF EACH CHARACTER IN A STRING'

## 29. Remove a specific word from a string.

In [46]:
STR="Remove a specific word from a string."
STR.replace("specific","")

'Remove a  word from a string.'

## 30. Check if a string is a valid email address.

In [58]:
string="naveen@gmail.com"
if "@" and ".com" in string:
    print("The give string is a valid email address")
else:
    print("The give string is not a valid email address")

The give string is a valid email address

## 31. Extract the username from an email address string.

In [5]:
string="naveenlara@gmail.com"
op= string.split('@')[0]
''' extracting using split function , the given string is split into 2 elements,
the element is called using index value''' 

print(f"the extracted username for the email address {string} is {op}")

the extracted username for the email address naveenlara@gmail.com is naveenlara

## 32. Extract the domain name from an email address string.

In [7]:
string="naveenlara@gmail.com"
op= string.split('@')[1] 
''' extracting using split function , the given string is split into 2 elements,
the element is called using index value'''
print(f"the extracted domain name for the email address {string} is {op}")

the extracted domain name for the email address naveenlara@gmail.com is gmail.com

## 33. Replace multiple spaces in a string with a single space.

In [11]:
mul_str="Replace multiple    spaces in a  string    with a    single     space"
rep_str=mul_str.split() # using split function to split the string into single elements,which removes the multispaces
print(" ".join(rep_str)) # joining the elements to form  a single sentances

Replace multiple spaces in a string with a single space

## 34. Check if a string is a valid URL.

In [13]:
pip install validators # installing the req lib

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
Note: you may need to restart the kernel to use updated packages.

In [14]:
import validators # importing the library
url="https://brown-doctor-qyuil.pwskills.app/lab/tree/work/20thAug_Stringbased_Practise_questions.ipynb"
if validators.url(url)== True: # using url fn from validators lib
    print("the given URL is Valid")
else:
    print("the given URL is not Valid")

the give URL is Valid

## 35. Extract the protocol (http or https) from a URL string

In [15]:
url="https://brown-doctor-qyuil.pwskills.app/lab/tree/work/20thAug_Stringbased_Practise_questions.ipynb"
op= url.split(':')[0]
''' extracting using split function , the given string is split into 2 elements,
the element is called using index value''' 

print(f"the extracted protocol for the given url is {op}")

the extracted protocol for the given url is https

## 36. Find the frequency of each character in a string.

In [20]:
string= "pneumonoultramicroscopicsilicovolcanoconiosis"
set_str=set(string) # converting the above string as set to remove duplicates
for i in set_str: # iterating through each elements 
    print(f"The frequency of {i} is {string.count(i)} times")# count fun is used to find the frequency of each char in a string

The frequency of t is 1 times
The frequency of l is 3 times
The frequency of u is 2 times
The frequency of p is 2 times
The frequency of i is 6 times
The frequency of v is 1 times
The frequency of a is 2 times
The frequency of s is 4 times
The frequency of c is 6 times
The frequency of e is 1 times
The frequency of m is 2 times
The frequency of r is 2 times
The frequency of n is 4 times
The frequency of o is 9 times

## 37. Remove all punctuation from a string.

In [2]:
import string

In [3]:
pun_str= "Remove: all, !! punctuation, from a string."
rem_str= pun_str.translate(str.maketrans('','',string.punctuation))
print(rem_str)

Remove all  punctuation from a string

## 38. Check if a string contains only digits.

In [4]:
dig_str="786888858246"
if dig_str.isdigit() :
    print("The above string contains only digits")
else:
    print("The above string not only contains digits")

The above string contains only digits

## 39. Check if a string contains only alphabets.

In [31]:
apl_str="pneumonoultramicroscopicsilicovolcanoconiosis"
if apl_str.isalpha() == True:
    print("The above string contains only alphabets")
else:
    print("The above string not only contains alphabets")

The above string contains only alphabets

##  40. Convert a string to a list of characters.

In [36]:
li1="Convert a string to a list of characters"
list_1= li1.split()
print(list_1)

['Convert', 'a', 'string', 'to', 'a', 'list', 'of', 'characters']

## 41. Check if two strings are anagrams.

In [3]:
string="triangle"
string1="integral"
if sorted(string)==sorted(string1): # sorted fn used to arage the characters in ascending order
    print("The String are Anagrams")
else:
    print("The Strings are not Anagrams")

The String are Anagrams

## 42. Encode a string using a Caesar cipher.

In [32]:
encode=[] #creating a list to store the encrypted words
encode

[]

In [26]:
code="ceaser" # string to be encrypted
shift=5 # shift value
for i in code: #iterating through the string
    if i.isalpha(): # if condition to check wheather the text is an alphabet
        encoded=ord(i.upper())+ shift # using ord fn to find the unicode of the single element in a string
        encode.append(chr(encoded)) # changing the unicode to alpha using char() fn
        
"".join(encode) #using join()fn to join the elements in the lsit

'HJFXJW'

## 43. Decode a Caesar cipher encoded string.

In [38]:
decoder=[]
decoder

[]

In [39]:
decode="HJFXJW" #creating a list to store the decrypted words
shift=5 # shift value
for i in decode: #iterating through the string
    if i.isalpha():# if condition to check wheather the text is an alphabet
        decoded=ord(i.upper()) - shift # using ord fn to find the unicode of the single element in a string
        decoder.append(chr(decoded))# changing the unicode to alpha using char() fn
        
"".join(decoder) #using join()fn to join the elements in the lsit

'CEASER'

## 44. Find the most frequent word in a string.

In [23]:
st="Betty Botter bought some butter But she said this butter's bitter If I put it in my batter It will make my batter bitter, But a bit of better butter Will surely make my batter better"
set_st=set(st.split())
print(set_st)
maxi=1
for i in set_st:
    x=st.count(i)
    if x > maxi:
        maxi=x
        print(f"the most frequent word is: {i},with fequency of {maxi} times")

{'surely', 'some', 'bought', 'a', 'of', 'better', 'she', 'Botter', 'Will', 'It', 'Betty', 'in', "butter's", 'said', 'bitter,', 'butter', 'it', 'this', 'bit', 'If', 'make', 'batter', 'my', 'will', 'bitter', 'I', 'But', 'put'}
the most frequent word is: a,with fequency of 7 times

## 45. Find all unique words in a string.

In [4]:
ip_str="A fit body, a calm mind, a house full of love. These things cannot be bought — they must be earned."
u_str=set(ip_str.split())# using set datatype to remove duplicates
print(u_str)

{'love.', 'house', 'fit', 'of', 'be', 'bought', 'must', 'calm', 'A', 'full', 'a', '—', 'earned.', 'they', 'things', 'body,', 'These', 'cannot', 'mind,'}

## 46. Count the number of syllables in a string.

In [7]:
pip install syllables #installing the req word

Collecting syllables
  Downloading syllables-1.0.7-py3-none-any.whl (15 kB)
Requirement already satisfied: importlib-metadata<6.0.0,>=5.1.0 in /opt/conda/lib/python3.10/site-packages (from syllables) (5.1.0)
Collecting cmudict<2.0.0,>=1.0.11
  Downloading cmudict-1.0.13-py3-none-any.whl (939 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 939.3/939.3 kB 20.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: importlib-resources<6.0.0,>=5.10.1 in /opt/conda/lib/python3.10/site-packages (from cmudict<2.0.0,>=1.0.11->syllables) (5.10.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata<6.0.0,>=5.1.0->syllables) (3.11.0)
Installing collected packages: cmudict, syllables
Successfully installed cmudict-1.0.13 syllables-1.0.7
Note: you may need to restart the kernel to use updated packages.

In [8]:
import syllables # importing the req lib

In [47]:
syllables.estimate("Horn")

1

## 47. Check if a string contains any special characters.

In [29]:
sp="Check if a string contains any special characters"
special_characters = "!@#$%^&*()-+?_=,<>/"
for i in sp:
    if i in special_characters:
        print("the string contains special characters")
    else:
        print("the string does not contains special characters")

the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters
the string does not contains special characters

## 47. Find the shortest string in a list of strings.

In [50]:
l_str="the harder the workout, the easier the day" #list of strings
list_str=set(l_str.split())#using split fn to create new elements and converting into set to remove duplicates
sol= min(list_str) # using min fn to get the shortest string
shortest_str=[] #list used to add the final values
for i in list_str: #iterarting through set 
    if len(i) == len(sol):
        shortest_str.append(i)
print(f"the shortest strings in the list are {shortest_str}")

the shortest strings in the list are ['day', 'the']

## 48. Create a list of the first `n` triangular numbers.

In [60]:
ip=int(input("Enter the range: ")) # getting the range numbers as input
for i in range(1,ip+1): # range fn to get the number of values
    y=(((i**2)+i)/2) # cal to get triangular num
    print(f"Triangle number for {i} is {y}") #output

Enter the range:  15

Triangle number for 1 is 1.0
Triangle number for 2 is 3.0
Triangle number for 3 is 6.0
Triangle number for 4 is 10.0
Triangle number for 5 is 15.0
Triangle number for 6 is 21.0
Triangle number for 7 is 28.0
Triangle number for 8 is 36.0
Triangle number for 9 is 45.0
Triangle number for 10 is 55.0
Triangle number for 11 is 66.0
Triangle number for 12 is 78.0
Triangle number for 13 is 91.0
Triangle number for 14 is 105.0
Triangle number for 15 is 120.0

## 49. Check if a list contains another list as a subsequence.

In [76]:
l1=['a','e','i','o','u']
alphabet=['a', 'b', 'c', 'd','e', 'f', 'g', 'h', 'i', 'j','k', 'l','m', 'n', 'o', 'p','q', 'r', 's','t', 'u','v', 'w', 'x', 'y', 'z']
if set(l1).issubset(alphabet)== True: # using issubset fn
    print("the list contains another list as a subsequence")

the list contains another list as a subsequence

## 50. Swap two elements in a list by their indices.

In [85]:
lis=[85,8798,78,1,35]
print(f"input{lis}")
lis[0],lis[4]=lis[4],lis[0] #swapping the element with index
lis

input[85, 8798, 78, 1, 35]

[35, 8798, 78, 1, 85]

# Tuple Based Practice Problem :

## 1. Create a tuple with integers from 1 to 5.

In [6]:
tup=tuple(range(1,6)) # using range fn to generate a tuple
print(tup)

(1, 2, 3, 4, 5)

## 2. Access the third element of a tuple.

In [9]:
tup=tuple(range(1,6))
print(tup[2]) # accesing using index of the tuple

3

## 3. Find the length of a tuple without using the `len()` function

In [15]:
tup=tuple(range(1,6))
i=1
while i<5: # using while loop to iterate through tuples
    i+=1
    
print(f"the length of the tup is {i}")

the length of the tup is 5

## 4. Count the occurrences of an element in a tuple.

In [17]:
tup=(25,78,5,44,58,778,5,25,4848)
tup.count(5) # count fn is used to find the ocuurances of the element in a tuple

2

## 5. Find the index of the first occurrence of an element in a tuple.

In [23]:
tuple_s='Find the index of the first occurrence of an element in a tuple'
tuple_s=tuple(tuple_s.split())
index= tuple_s.index("of") # using index fn to find the first occurance of an element
index

3

## 6. Check if an element exists in a tuple.

In [25]:
tuple_test='Find the index of the first occurrence of an element in a tuple'
tuple_test=tuple(tuple_test.split())
x=input("enter the element: ")
if x in tuple_test: # using in keyword to find the elements availablity
    print(f"the element exists in the tuple")
else:
    print(f"the element does not exists in the tuple")

enter the element:  index

the element exists in the tuple

## 7. Convert a tuple to a list.

In [29]:
type(tuple_test)

tuple

In [30]:
list_test=list(tuple_test) # typecasting as list from tuple
list_test

['Find',
 'the',
 'index',
 'of',
 'the',
 'first',
 'occurrence',
 'of',
 'an',
 'element',
 'in',
 'a',
 'tuple']

In [31]:
type(list_test)

list

## 8. Convert a list to a tuple

In [32]:
type(list_test)

list

In [33]:
test_tuple=tuple(list_test)# type casting test tuples
test_tuple

('Find',
 'the',
 'index',
 'of',
 'the',
 'first',
 'occurrence',
 'of',
 'an',
 'element',
 'in',
 'a',
 'tuple')

## 9. Unpack the elements of a tuple into variables.

In [36]:
up_tup=("naveen","datascience pro","pwskills")
(name,course,institution)=up_tup # assiging a tuple of variable to a tuple
print(name)
print(course)
print(institution) # elements are accesed iusing the variables

naveen
datascience pro
pwskills

## 10. Create a tuple of even numbers from 1 to 10.

In [41]:
even_num=tuple(range(0,11,2)) # using range fn with step_value as 2
even_num

(0, 2, 4, 6, 8, 10)

## 11. Create a tuple of odd numbers from 1 to 10.

In [45]:
odd_num= tuple(range(1,10,2))# using range fn with start value as 1
odd_num

(1, 3, 5, 7, 9)

## 12. Concatenate two tuples.

In [48]:
odd_num
even_num
f10=even_num+odd_num # concatinating using operators
f10

(0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

## 13. Repeat a tuple three times.

In [49]:
from itertools import repeat # importing required lib
solution=tuple(repeat(even_num,5)) # using repeat fn to repeat the tuples
print(solution)

((0, 2, 4, 6, 8, 10), (0, 2, 4, 6, 8, 10), (0, 2, 4, 6, 8, 10), (0, 2, 4, 6, 8, 10), (0, 2, 4, 6, 8, 10))

## 14. Check if a tuple is empty.

In [50]:
empty_tup=()
if len(empty_tup) == 0:
    print("The given tuple is empty")
else:
    print("The given tuple is not empty")

The given tuple is empty

## 15. Create a nested tuple

In [5]:
n_tup=(("all","work"),("noplay","koi"),("Kaizen","seinso"))
n_tup

(('all', 'work'), ('noplay', 'koi'), ('Kaizen', 'seinso'))

## 16. Access the first element of a nested tuple.

In [8]:
n_tup=(("all","work"),("noplay","koi"),("Kaizen","seinso"))
print(n_tup[0]) # prints the first element of a tuple n_tup
print(n_tup[1][0]) # prints the nested first element of the 2 element  in n_tup

('all', 'work')
noplay

## 17. Create a tuple with a single element.

In [10]:
s_tup=(9626969611)
s_tup

9626969611

## 18. Compare two tuples.

In [1]:
tup1=(25,35,45,65)
tup2=(88,55,99,102)
if tup2 > tup1: #comparing using comparison operator
    print("All the elements in tup2 are greater then tup1")
else:
    print("All the elements in tup2 are not greater then tup1")

All the elements in tup2 are greater then tup1

## 19. Delete a tuple.

In [3]:
nes_tup=((789,987),(220,250),350)
del nes_tup # using del fn to delete a tuple

In [4]:
nes_tup ## throws error

NameError: name 'nes_tup' is not defined

## 20. Slice a tuple.

In [11]:
tup=(2,6,6,4,6,4,3,684,51,7,7,9,7,6,6,9,7,7,7,9,9,7,6,2,2,8,4,9,6,7)
s_tup= slice(0,11,2)# using slice fn to slice a tuple with parameters {start value,end value,step value}
print(tup[s_tup])

(2, 6, 6, 3, 51, 7)

## 21. Find the maximum value in a tuple.

In [14]:
tup=(2,6,6,4,6,4,3,684,51,7,7,9,7,6,6,9,7,7,7,9,9,7,6,2,2,8,4,9,6,7)
max(tup) # gives the maximum value of a tuple

684

## 22. Find the minimum value in a tuple.

In [16]:
min(tup) # gives the minimum value of a tuple

2

## 23. Convert a string to a tuple of characters.

In [19]:
string="algorithm"
tuple_str=tuple(string) # converts a tring into a tuple
print(tuple_str)

('a', 'l', 'g', 'o', 'r', 'i', 't', 'h', 'm')

## 24. Convert a tuple of characters to a string.

In [21]:
"".join(tuple_str) # uding join fn

'algorithm'

## 25. Create a tuple from multiple data types.

In [25]:
str_x="among us"
float_x=250.00
tup_x=(259,"tyre")
dict_x={"name": "naveen"}
phonenumber=87451258963
personal_data=(str_x,float_x,tup_x,dict_x,phonenumber) # tuple that holds multiple datatypes
for i in personal_data:
    print(type(i))# prints datatype of all elements in a tuple

<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'dict'>
<class 'int'>

In [27]:
type(personal_data) # datatype of the tuple

tuple

## 26. Check if two tuples are identical.

In [28]:
tup1=((25,35),(35,45))
tup2=((25,35),(35,45))
sol= tup1==tup2
if sol:
    print("the tuple are identical")
else:
    print("the tuples are non identical")

the tuple are identical

## 27. Sort the elements of a tuple.

In [33]:
tuple_str

('a', 'l', 'g', 'o', 'r', 'i', 't', 'h', 'm')

In [34]:
sorted(tuple_str) # sorts the elements in the tuple in ascending order

['a', 'g', 'h', 'i', 'l', 'm', 'o', 'r', 't']

In [36]:
sorted(tuple_str,reverse=True) # sorts the elements in the tuple in descending order

['t', 'r', 'o', 'm', 'l', 'i', 'h', 'g', 'a']

## 28. Convert a tuple of integers to a tuple of strings.

In [8]:
string3= (2,5,29)
inte=tuple(map(str,string3)) # using map fn takes strfn as parameter and string3 as iterable,
# the str fn applies to  every element in the tuple,then the result is then converted using tuple () constructor fn
inte

('2', '5', '29')

## 29. Convert a tuple of strings to a tuple of integers.

In [6]:
string2=("8754","78545","7854","852014662")
sol=tuple(map(int,string2)) 
print(sol)

(8754, 78545, 7854, 852014662)

## 30. Merge two tuples.

In [10]:
string3= (2,5,29)
string2=("8754","78545","7854","852014662")
merged_tup= string3 + string2 # used + operator to merge two tuples
merged_tup

(2, 5, 29, '8754', '78545', '7854', '852014662')

## 31. Flatten a nested tuple.

In [14]:
nested_tup=((1,2),(3,4),(5,6),9) # creating a tuple 
flattened=[] # a list to append the iterated elements
for i in nested_tup: # iterating through nested_tup
    if type(i)==tuple: # using if condition to check if the element is tuple
        for j in i: #iterating through the elements inside i 
            flattened.append(j) # appending the element inside i
    else:
        flattened.append(i)# appending the element inside nested_tup
            
flatened_tup=tuple(flattened)
flatened_tup

(1, 2, 3, 4, 5, 6, 9)

##  32. Create a tuple of the first 5 prime numbers.

In [30]:
pn=[] #creating a list to add prime numbers

for i in range(2,25):# generator fn for generating numbers upto 25
    if i==2 or i==3: #condition to add if the values are 3 and 2,because these numbers decide the values of first 5 primenumbers
        pn.append(i)   
    elif i%2==0 or i%3==0:# if the reminder for i is zero the loop is skipps the values using continue stment
        continue
    elif len(pn)<5 : ## if the len of the list is less ythan 5 the value of i is added
        pn.append(i)
    else:
        break
tuple(pn) # typecasting list as tuple

(2, 3, 5, 7, 11)

## 33. Check if a tuple is a palindrome.

In [39]:
tup=tuple("noon")
rev_tup=list(tup)[::-1]
if list(tup) == rev_tup:
    print("the given tuple is palindrome" )
else:
    print("the given tuple is not a palindrome" )

the given tuple is palindrome

## 34. Create a tuple of squares of numbers from 1 to 5.

In [2]:
l=[]
for i in range(1,6):
    l.append(i*i)
print(tuple(l))

(1, 4, 9, 16, 25)

## 35. Filter out all even numbers from a tuple.

In [4]:
even_num=tuple(range(0,25))

In [5]:
l_even=[] 
for i in even_num:
    if i%2==0:
        l_even.append(i)
tuple(l_even)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24)

## 36. Multiply all elements in a tuple by 2.

In [11]:
multi_l=[]

In [13]:
num=tuple(range(0,25))
for i in num:
    i=i*2
    multi_l.append(i)
print(tuple(multi_l))

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48)

## 37. Create a tuple of random numbers.

In [17]:
import random
random_num=tuple(random.randint(1,100) for x in range(200))
print(random_num)

(75, 49, 11, 39, 62, 88, 9, 91, 78, 3, 57, 11, 65, 51, 20, 72, 38, 72, 17, 28, 68, 26, 23, 22, 49, 58, 70, 9, 46, 20, 48, 96, 25, 80, 9, 96, 51, 44, 63, 57, 44, 86, 84, 47, 48, 90, 87, 77, 53, 11, 22, 99, 5, 79, 11, 60, 21, 69, 52, 55, 49, 94, 24, 97, 58, 10, 8, 86, 82, 68, 99, 24, 34, 64, 70, 77, 30, 85, 79, 78, 75, 10, 82, 83, 85, 46, 24, 7, 21, 16, 69, 95, 11, 77, 65, 84, 52, 16, 64, 72, 76, 92, 33, 8, 32, 93, 45, 99, 62, 45, 33, 48, 32, 25, 30, 24, 22, 2, 94, 13, 31, 20, 62, 8, 26, 15, 87, 3, 37, 90, 66, 97, 2, 23, 89, 86, 48, 64, 99, 72, 81, 51, 82, 53, 49, 100, 48, 85, 22, 37, 58, 6, 89, 70, 22, 29, 98, 31, 35, 67, 84, 11, 87, 57, 57, 59, 12, 48, 39, 47, 10, 25, 48, 60, 58, 43, 71, 57, 66, 24, 76, 62, 60, 77, 37, 86, 5, 100, 24, 73, 97, 60, 29, 5, 40, 84, 92, 72, 13, 57)

## 38. Check if a tuple is sorted.

In [41]:
print(random_num)

(75, 49, 11, 39, 62, 88, 9, 91, 78, 3, 57, 11, 65, 51, 20, 72, 38, 72, 17, 28, 68, 26, 23, 22, 49, 58, 70, 9, 46, 20, 48, 96, 25, 80, 9, 96, 51, 44, 63, 57, 44, 86, 84, 47, 48, 90, 87, 77, 53, 11, 22, 99, 5, 79, 11, 60, 21, 69, 52, 55, 49, 94, 24, 97, 58, 10, 8, 86, 82, 68, 99, 24, 34, 64, 70, 77, 30, 85, 79, 78, 75, 10, 82, 83, 85, 46, 24, 7, 21, 16, 69, 95, 11, 77, 65, 84, 52, 16, 64, 72, 76, 92, 33, 8, 32, 93, 45, 99, 62, 45, 33, 48, 32, 25, 30, 24, 22, 2, 94, 13, 31, 20, 62, 8, 26, 15, 87, 3, 37, 90, 66, 97, 2, 23, 89, 86, 48, 64, 99, 72, 81, 51, 82, 53, 49, 100, 48, 85, 22, 37, 58, 6, 89, 70, 22, 29, 98, 31, 35, 67, 84, 11, 87, 57, 57, 59, 12, 48, 39, 47, 10, 25, 48, 60, 58, 43, 71, 57, 66, 24, 76, 62, 60, 77, 37, 86, 5, 100, 24, 73, 97, 60, 29, 5, 40, 84, 92, 72, 13, 57)

In [42]:
if random_num==sorted((list(random_num))):
    print("The tuple is sorted")
else:
    print("The tuple is not sorted")

The tuple is not sorted

## 39. Rotate a tuple to the left by `n` positions.

In [1]:
from collections import deque

In [4]:
ltup=(1,2,3,4,5)
sol= deque(ltup) #converting into deque data structure
sol.rotate(-3) # roating the element to the left 3rd position
print(tuple(sol))

(4, 5, 1, 2, 3)

## 40. Rotate a tuple to the right by `n` positions.

In [6]:
rtup=(1,2,3,4,5)
sol=deque(rtup) #converting into deque data structure
sol.rotate(3) # roating the element to the right 3rd position
print(tuple(sol))

(3, 4, 5, 1, 2)

## 41. Create a tuple of the first 5 Fibonacci numbers.

In [22]:
fib=[]

In [23]:
a,b=0,1
count=0
while count<5:
    fib.append(a)
    c=a+b
    a=b
    b=c
    count+=1
tuple(fib)

(0, 1, 1, 2, 3)

## 42. Create a tuple from user input.

In [29]:
tupled_input=tuple(input("Enter a tuple value"))
print(tupled_input)

Enter a tuple value 75581113864

('7', '5', '5', '8', '1', '1', '1', '3', '8', '6', '4')

## 43. Swap two elements in a tuple.

In [41]:
tupled_input
listed_ip=list(tupled_input)
tupled_input

('7', '5', '5', '8', '1', '1', '1', '3', '8', '6', '4')

In [42]:
listed_ip[0],listed_ip[9]=listed_ip[9],listed_ip[0]
tuple(listed_ip)

('6', '5', '5', '8', '1', '1', '1', '3', '8', '7', '4')

## 44. Reverse the elements of a tuple.

In [44]:
tup25=('6', '5', '5', '8', '1', '1', '1', '3', '8', '7', '4')
tup25[::-1]

('4', '7', '8', '3', '1', '1', '1', '8', '5', '5', '6')

## 45. Create a tuple of the first `n` powers of 2

In [59]:
powered_tup=tuple(i**2 for i in range(10))
print(powered_tup)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

## 46. Find the longest string in a tuple of strings.

In [2]:
l_tup=("apple","orange","pomogranate","custardapple","grapes","Banana","kiwi")
max(l_tup,key=len) # returns

'custardapple'

## 47. Find the shortest string in a tuple of strings.

In [3]:
l_tup=("apple","orange","pomogranate","custardapple","grapes","Banana","kiwi")
min(l_tup,key=len)

'kiwi'

## 48. Create a tuple of the first `n` triangular numbers.

In [5]:
ip=int(input("Enter the range: ")) # getting the range numbers as input
t=[]
for i in range(1,ip+1): # range fn to get the number of values
    y=int(((i**2)+i)/2) # cal to get triangular num
    t.append(y)#output
print(tuple(t))

Enter the range:  25

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325)

## 49. Check if a tuple contains another tuple as a subsequence

In [12]:
t1=tuple(range(5))
t2=tuple(range(10))
result= set(t1).issubset(t2)
if result== True:
    print("The tuples conatins another tuple as subsequence")
else:
    print("The tuples does not conatins another tuple as subsequence")

The tuples conatins another tuple as subsequence

## 50. Create a tuple of alternating 1s and 0s of length `n`

In [29]:
tu=(0,1)
n=int(input("Enter the Length of the tuple: "))
n_tup=tuple(tu*n)[0:n] # tuple is multiplied for given input,and the specific index of input len is stored in a variable
print(f"the length of the tuple is {len(n_tup)}\n {n_tup}")

Enter the Length of the tuple:  55

the length of the tuple is 55
 (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# List Based Practice Problem :

## 1. Create a list with integers from 1 to 10.

In [33]:
li=list(range(1,11))
'''range fn is used with start value as 1 ,stop value as 11'''
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 2. Find the length of a list without using the `len()` function.

In [49]:
l=list(range(1,11))

for i in l:
    i+=1

print(f"The length of the list{l} is {i-1}")

The length of the list[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is 10

## 3. Append an element to the end of a list.

In [51]:
la=list(range(1,11))
la.append("numbers") # append fn adds an elemnt end of the list
print(la)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'numbers']

## 4. Insert an element at a specific index in a list

In [67]:
lis=['batman',"aquaman","superman","wonderwoman"]
lis.insert(2,"flash") # inserting flash at 2 index value
lis

['batman', 'aquaman', 'flash', 'superman', 'wonderwoman']

## 5. Remove an element from a list by its value.

In [68]:
lis.remove("flash") # removing an element using value
lis

['batman', 'aquaman', 'superman', 'wonderwoman']

## 6. Remove an element from a list by its index.

In [69]:
lis.remove(lis[3]) # removing an element using index
lis

['batman', 'aquaman', 'superman']

## 7. Check if an element exists in a list.

In [70]:
lis

['batman', 'aquaman', 'superman']

In [71]:
if "aquaman" in lis:
    print("The element exists in a list")
else:
    print("The element does not exists in a list")

The element exists in a list

## 8. Find the index of the first occurrence of an element in a list.

In [79]:
n=[25,789,233,3,4,5,6,7,8,9,5,2,2,1,552,2,1,2,2,1,4184,8,51,66]
e=int(input("Enter the element to search: "))
print(f"the first occurance of {e} is {n.index(e)}") #using index fn to find the first occurance

Enter the element to search:  2

the first occurance of 2 is 11

## 9. Count the occurrences of an element in a list.

In [81]:
n=[25,789,233,3,4,5,6,7,8,9,5,2,2,1,552,2,1,2,2,1,4184,8,51,66]
e=int(input("Enter the element to count: "))
print(f"the occurance of {e} is {n.count(e)}") #using count fn to find the occurances

Enter the element to count:  2

the occurance of 2 is 5

## 10. Reverse the order of elements in a list.

In [86]:
influencers=["andrew tate","gary v",'sudharshanan ganapathy','elon musk','naval ravikanth']
print(f"The reversed ordred list is; \n {influencers[::-1]}")

The reversed ordred list is;
 ['naval ravikanth', 'elon musk', 'sudharshanan ganapathy', 'gary v', 'andrew tate']

## 11. Sort a list in ascending order.

In [90]:
n=[25,789,233,3,4,5,6,7,8,9,5,2,2,1,552,2,1,2,2,1,4184,8,51,66]
sorted_n=sorted(n)
print(sorted_n)

[1, 1, 1, 2, 2, 2, 2, 2, 3, 4, 5, 5, 6, 7, 8, 8, 9, 25, 51, 66, 233, 552, 789, 4184]

## 12. Sort a list in descending order.

In [93]:
n=[25,789,233,3,4,5,6,7,8,9,5,2,2,1,552,2,1,2,2,1,4184,8,51,66]
sorted_n=sorted(n,reverse=True)
print(sorted_n)

[4184, 789, 552, 233, 66, 51, 25, 9, 8, 8, 7, 6, 5, 5, 4, 3, 2, 2, 2, 2, 2, 1, 1, 1]

## 13. Create a list of even numbers from 1 to 20.

In [97]:
even_numbers=list(range(2,21,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 14. Create a list of odd numbers from 1 to 20.

In [98]:
odd_num=list(range(1,20,2))
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 15. Find the sum of all elements in a list.

In [102]:
odd_num

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [103]:
sum(odd_num)

100

## 16. Find the maximum value in a list.

In [104]:
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [105]:
max(even_numbers)

20

## 17. Find the minimum value in a list.

In [107]:
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [108]:
min(even_numbers)

2

## 18. Create a list of squares of numbers from 1 to 10.

In [113]:
squared_list=[x**2 for x in range(1,11)]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 19. Create a list of random numbers

In [37]:
import random
ran_list= list(random.randint(50,200) for x in range(50))
print(ran_list)

[66, 112, 119, 177, 103, 113, 138, 89, 145, 138, 51, 146, 69, 188, 172, 50, 145, 111, 61, 164, 186, 82, 189, 98, 197, 137, 62, 100, 159, 94, 96, 190, 100, 184, 120, 82, 169, 125, 98, 132, 88, 182, 124, 76, 159, 116, 77, 89, 126, 65]

## 20. Remove duplicates from a list.

In [121]:
print(sorted_n)

[4184, 789, 552, 233, 66, 51, 25, 9, 8, 8, 7, 6, 5, 5, 4, 3, 2, 2, 2, 2, 2, 1, 1, 1]

In [122]:
list(set(sorted_n)) # since set does not holds duplicates

[1, 66, 3, 4, 5, 6, 7, 552, 233, 9, 8, 2, 51, 789, 4184, 25]

## 21. Find the common elements between two lists.

In [123]:

car=["benz","bmw","volkswagen",'porche',"tata"]
bike=["tvs","bmw","yamaha","triumph"]
common = [value for value in car if value in bike]
print(common)

['bmw']

## 22. Find the difference between two lists.

In [13]:
list1=[25,35,20,18,99]
list2=[35,88,18]
result_list=[i for i in list1 if i not in list2]
result_list

[25, 20, 99]

## 23. Merge two lists.

In [14]:
result_list

[25, 20, 99]

In [16]:
list2

[35, 88, 18]

In [18]:
merged_list= result_list + list2
merged_list

[25, 20, 99, 35, 88, 18]

## 24. Multiply all elements in a list by 2

In [19]:
merged_list

[25, 20, 99, 35, 88, 18]

In [21]:
multi_list= list(i*2 for i in merged_list)
print(multi_list)

[50, 40, 198, 70, 176, 36]

## 25. Filter out all even numbers from a list

In [38]:
print(ran_list)

[66, 112, 119, 177, 103, 113, 138, 89, 145, 138, 51, 146, 69, 188, 172, 50, 145, 111, 61, 164, 186, 82, 189, 98, 197, 137, 62, 100, 159, 94, 96, 190, 100, 184, 120, 82, 169, 125, 98, 132, 88, 182, 124, 76, 159, 116, 77, 89, 126, 65]

In [41]:
eve_num= list(i for i in ran_list if i%2==0)
print(eve_num)

[66, 112, 138, 138, 146, 188, 172, 50, 164, 186, 82, 98, 62, 100, 94, 96, 190, 100, 184, 120, 82, 98, 132, 88, 182, 124, 76, 116, 126]

## 26. Convert a list of strings to a list of integers.

In [48]:
stringl=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [50]:
intl=list(map(int,stringl))
intl

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 27. Convert a list of integers to a list of strings.

In [51]:
intl

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
str_l=list(map(str,intl))
print(str_l)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

## 28. Flatten a nested list.

In [56]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
f_list=[i for j in nested_list for i in j ]
f_list

[1, 2, 3, 4, 5, 6, 7, 8]

## 29. Create a list of the first 10 Fibonacci numbers

In [60]:
fib_list=[]

In [61]:
a,b=0,1
count=0
while count<10:
    fib_list.append(a)
    c=a+b
    a=b
    b=c
    count+=1
print(fib_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 30. Check if a list is sorted.

In [65]:
if fib_list==sorted(fib_list):
    print("The list is sorted")
else:
    print("The list is not sorted")

The list is sorted

## 31. Rotate a list to the left by `n` positions.

In [72]:
from collections import deque

In [81]:
n_list=list(range(20))
res=deque(n_list)
res.rotate(-3)
print(list(res))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2]

## 32. Rotate a list to the right by `n` positions.

In [82]:
n_list=list(range(20))
res=deque(n_list)
res.rotate(5)
print(list(res))

[15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## 33. Create a list of prime numbers up to 50.

In [2]:
prime_num=[2,3,5,7]+[i for i in range(50) if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0]

In [3]:
sorted(prime_num)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## 34. Split a list into chunks of size `n`.

In [4]:
prime_num

[2, 3, 5, 7, 1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [5]:
n=int(input("Enter a value to split: "))
split_list=[prime_num[i:i+n] for i in range(0,len(prime_num),n)]
print(split_list)

Enter a value to split:  3

[[2, 3, 5], [7, 1, 11], [13, 17, 19], [23, 29, 31], [37, 41, 43], [47]]

# 35. Find the second largest number in a list.

In [114]:
prime_num

[2, 3, 5, 1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

In [117]:
second_largest_num=sorted(prime_num)[len(prime_num)-2]
print(f"The second largest num is {second_largest_num}")

The second largest num is 47

# 36. Replace every element in a list with its square

In [118]:
prime_num

[2, 3, 5, 1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

In [119]:
squared_list=list(i*i for i in prime_num)
print(squared_list)

[4, 9, 25, 1, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209, 2401]

## 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [126]:
dc=["wonderwoman","goblin",'aquaman',"superman","flash","batman","alfred"]
dict_= dict(zip(dc,range(len(dc))))
print(dict_)

{'wonderwoman': 0, 'goblin': 1, 'aquaman': 2, 'superman': 3, 'flash': 4, 'batman': 5, 'alfred': 6}

## 38. Shuffle the elements of a list randomly.

In [127]:
prime_num

[2, 3, 5, 1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

In [133]:
random.shuffle(prime_num)

In [134]:
prime_num

[1, 41, 19, 43, 23, 7, 29, 17, 13, 5, 31, 37, 3, 49, 2, 47, 11]

## 39. Create a list of the first 10 factorial numbers

In [139]:
import math

In [143]:
fact_list=list(map(math.factorial,range(10)))
print(fact_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
len(fact_list)

10

## 40. Check if two lists have at least one element in common

In [150]:
print(f"{prime_num} \n {fact_list}")

[1, 41, 19, 43, 23, 7, 29, 17, 13, 5, 31, 37, 3, 49, 2, 47, 11]
 [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [151]:
if set(prime_num)& set(fact_list):
    print("the list has at least one common element")
else:
    print("the list has at least one common element")

the list has at least one common element

## 41. Remove all elements from a list.

In [169]:
prime_num

[2, 3, 5, 1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

In [170]:
prime_num.clear()

In [171]:
print(prime_num)

[]

## 42. Replace negative numbers in a list with 0

In [190]:
l8=[21,78,55,-22,98,-58,44,-21]
lrep=[i if i>0 else 0 for i in l8]
print(lrep)

[21, 78, 55, 0, 98, 0, 44, 0]

## 43. Convert a string into a list of words.

In [191]:
string="Convert a string into a list of words"
str_l= string.split()
str_l

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

## 44. Convert a list of words into a string.

In [192]:
" ".join(str_l)

'Convert a string into a list of words'

## 45. Create a list of the first `n` powers of 2.

In [193]:
pow_list=[2**i for i in range(10)]
print(pow_list)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

## 46. Find the longest string in a list of strings.

In [197]:
l_str="the harder the workout, the easier the day" #list of strings
list_str=set(l_str.split())#using split fn to create new elements and converting into set to remove duplicates
sol= max(list_str) # using max fn to get the shortest string
longest_str=[] #list used to add the final values
for i in list_str: #iterarting through set 
    if len(i) == len(sol):
        longest_str.append(i)
print(f"the longest strings in the list are {longest_str}")

the longest strings in the list are ['workout,']

## 47. Find the shortest string in a list of strings.

In [198]:
l_str="the harder the workout, the easier the day" #list of strings
list_str=set(l_str.split())#using split fn to create new elements and converting into set to remove duplicates
sol= min(list_str) # using min fn to get the shortest string
shortest_str=[] #list used to add the final values
for i in list_str: #iterarting through set 
    if len(i) == len(sol):
        shortest_str.append(i)
print(f"the shortest strings in the list are {shortest_str}")

the shortest strings in the list are ['the', 'day']

## 48. Create a list of the first `n` triangular numbers.

In [199]:
ip=int(input("Enter the range: ")) # getting the range numbers as input
for i in range(1,ip+1): # range fn to get the number of values
    y=(((i**2)+i)/2) # cal to get triangular num
    print(f"Triangle number for {i} is {y}") #output

Enter the range:  5

Triangle number for 1 is 1.0
Triangle number for 2 is 3.0
Triangle number for 3 is 6.0
Triangle number for 4 is 10.0
Triangle number for 5 is 15.0

## 49. Check if a list contains another list as a subsequence.

In [200]:
l1=['a','e','i','o','u']
alphabet=['a', 'b', 'c', 'd','e', 'f', 'g', 'h', 'i', 'j','k', 'l','m', 'n', 'o', 'p','q', 'r', 's','t', 'u','v', 'w', 'x', 'y', 'z']
if set(l1).issubset(alphabet)== True: # using issubset fn
    print("the list contains another list as a subsequence")

the list contains another list as a subsequence

## 50. Swap two elements in a list by their indices

In [202]:
lis=[85,8798,78,1,35]
print(f"input{lis}")
lis[0],lis[4]=lis[4],lis[0] #swapping the element with index
lis

input[85, 8798, 78, 1, 35]

[35, 8798, 78, 1, 85]

# Set Based Practice Problem

## 1. Create a set with integers from 1 to 5

In [51]:
int_set=set(range(1,6))
int_set

{1, 2, 3, 4, 5}

## 2. Add an element to a set.

In [52]:
int_set.add(6)
int_set

{1, 2, 3, 4, 5, 6}

## 3. Remove an element from a set.

In [53]:
int_set.remove(6)
int_set

{1, 2, 3, 4, 5}

## 4. Check if an element exists in a set.

In [57]:
int_=int(input("Enter a value: "))
if int_ in int_set:
    print(f"the element {int_}  is available in the set")
else:
    print(f"the element {int_}is available in the set")

Enter a value:  5

the element 5  is available in the set

## 5. Find the length of a set without using the `len()` function

In [58]:
set1=set(range(10))
for i in set1:
    set_len=list(set1).index(i)+1
    
print(f"the Length of the set is {set_len}")

the Length of the set is 10

## 6. Clear all elements from a set.

In [59]:
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [60]:
set1.clear()
set1

set()

## 7. Create a set of even numbers from 1 to 10

In [61]:
eve_num=set(range(0,11,2))
print(eve_num)

{0, 2, 4, 6, 8, 10}

## 8. Create a set of odd numbers from 1 to 10.

In [62]:
odd_num=set(range(1,10,2))
print(odd_num)

{1, 3, 5, 7, 9}

## 9. Find the union of two sets.

In [63]:
set1=set(range(10))
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
set2=set(range(20))
set2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [65]:
set3=set2.union(set1)
set3

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

## 10. Find the intersection of two sets.

In [66]:
set4= set2.intersection(set1)
set4

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## 11. Find the difference between two sets.

In [67]:
set5= set2.difference(set1)
set5

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

## 12. Check if a set is a subset of another set.

In [68]:
if set1.issubset(set2):
    print("the given set is a subset of another set")
else:
     print("the given set is not a subset of another set")

the given set is a subset of another set

## 13. Check if a set is a superset of another set.

In [69]:
if set2.issuperset(set1):
    print("the given set is a superset of another set")
else:
     print("the given set is not a superset of another set")

the given set is a superset of another set

## 14. Create a set from a list.

In [70]:
l_set= list(set5)
l_set

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## 15. Convert a set to a list

In [71]:
set6=set(l_set)
set6

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

## 16. Remove a random element from a set.

In [72]:
import random
set2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [73]:
ran_i=random.randint(0,20)
set2.remove(ran_i)
print(f"the set is {set2} and the removed int element is {ran_i}")

the set is {0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19} and the removed int element is 6

## 17. Pop an element from a set.

In [79]:
set17=set(range(1,20))
e=set17.pop()
print(f"popped element is {e}")

popped element is 1

## 18. Check if two sets have no elements in common.

In [94]:
st=set(range(10))
ts=set(range(11,20))
if ts.isdisjoint(st):
    print('two sets have no elements in common')
else:
    print('two sets have common elements')

two sets have no elements in common

## 19. Find the symmetric difference between two sets.

In [96]:
sets=set(range(20))
tests=set(range(11,20))
sets.symmetric_difference(tests)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## 20. Update a set with elements from another set.

In [99]:
set12=set()

In [100]:
set12.update(tests)
set12

{11, 12, 13, 14, 15, 16, 17, 18, 19}

## 21. Create a set of the first 5 prime numbers.

In [107]:
prime_num=[2,3,5]+[i for i in range(10) if i%2!=0 and i%3!=0 and i%5!=0 ]
set(prime_num)

{1, 2, 3, 5, 7}

## 22. Check if two sets are identical.

In [110]:
s=set(range(10))
t=set(range(10))
if s== t:
    print("the sets are identical")
else:
    print("the sets are not identical")

the sets are identical

## 23. Create a frozen set.

##### creates an immutable set object from an iterable

In [111]:
fz=frozenset(s)
fz

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

## 24. Check if a set is disjoint with another set.

In [113]:
st=set(range(10))
ts=set(range(11,20))
if ts.isdisjoint(st):
    print(' set is disjoint with another set')
else:
    print(' set is not disjoint with another set')

 set is disjoint with another set

## 25. Create a set of squares of numbers from 1 to 5.

In [115]:
sq_set= set(i**2 for i in range(6))
sq_set

{0, 1, 4, 9, 16, 25}

## 26. Filter out all even numbers from a set.

In [121]:
eve_num= set(i for i in set(range(21)) if i %2==0 )
eve_num

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

## 27. Multiply all elements in a set by 2.

In [122]:
multi_set= set(i*2 for i in set(range(21)) )
multi_set

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40}

## 28. Create a set of random numbers

In [7]:
import random
ran_set=set(random.randint(50,100) for x in range(100))
print(ran_set)

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

## 29. Check if a set is empty

In [11]:
area59=set()

In [13]:
if len(area59)==0:
    print("the set is  empty")
else:
    print("the set is not empty")

the set is  empty

# 30. Create a nested set (hint: use frozenset).

In [14]:
set_f=set([frozenset((2,32)),frozenset((2,3)),frozenset((88,22))])
set_f

{frozenset({2, 32}), frozenset({2, 3}), frozenset({22, 88})}

## 31. Remove an element from a set using the discard method

In [5]:
dis_set=set(range(20))
dis_set.discard(13)## removed 13 from set
dis_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19}

## 32. Compare two sets

In [6]:
set1=set(range(0,10))
set2=set(range(20))
set1.intersection(set2) # brngs the common elements by comparing 2 sets

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## 33. Create a set from a string.

In [7]:
set_string= "Create a set from a string"
sets=set(set_string.split())

In [8]:
sets

{'Create', 'a', 'from', 'set', 'string'}

## 34. Convert a set of strings to a set of integers.

In [9]:
set_str=('1','2','3','4','8','9','78','33','58','55','13','22')
set_int=set(map(int,set_str))
set_int

{1, 2, 3, 4, 8, 9, 13, 22, 33, 55, 58, 78}

## 35. Convert a set of integers to a set of strings.

In [10]:
set_int

{1, 2, 3, 4, 8, 9, 13, 22, 33, 55, 58, 78}

In [11]:
set_str=set(map(str,set_int))
set_str

{'1', '13', '2', '22', '3', '33', '4', '55', '58', '78', '8', '9'}

## 36. Create a set from a tuple --- doubt

In [16]:
tps=tuple(set_str)
type(tps)

tuple

## 37. Convert a set to a tuple.

In [17]:
tps=tuple(set_str)
type(tps)

tuple

## 38. Find the maximum value in a set.

In [20]:
max(set_int)

78

## 39. Find the minimum value in a set.

In [22]:
min(set_int)

1

## 40. Create a set from user input.

In [24]:
user_in=input("Enter : ")
user_set=set(user_in.split())
user_set

Enter :  Create a set from user input.

{'Create', 'a', 'from', 'input.', 'set', 'user'}

## 41. Check if the intersection of two sets is empty

In [30]:
strings="Check if the intersection of two sets is empty"
set_strings=set(strings.split())
inters=set(set_strings.intersection(user_set))

In [31]:
if len(inters)==0 :
    print("the intersection of two sets is empty")
else:
    print("the intersection of two sets is not empty")

the intersection of two sets is empty

## 42. Create a set of the first 5 Fibonacci numbers

In [33]:
fib=[]

In [35]:
a,b=0,1
count=0
while count<6:
    fib.append(a)
    c=a+b
    a=b
    b=c
    count+=1
set(fib)

{0, 1, 2, 3, 5}

## 43. Remove duplicates from a list using sets.

In [37]:
s="Remove duplicates from a list using sets Remove duplicates from a list using sets"
print(s.split())
rem_s=set(s.split())
rem_s

['Remove', 'duplicates', 'from', 'a', 'list', 'using', 'sets', 'Remove', 'duplicates', 'from', 'a', 'list', 'using', 'sets']

{'Remove', 'a', 'duplicates', 'from', 'list', 'sets', 'using'}

## 44. Check if two sets have the same elements, regardless of their count.

In [39]:
sets1=set(range(20))
sets2=set(range(20))
if sets1==sets2 :
    print("two sets have the same elements")
else:
    print("two sets does not have the same elements")

two sets have the same elements

## 45. Create a set of the first `n` powers of 2

In [40]:
pow_set=set(i**2 for i in range(10))
pow_set

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

## 46. Find the common elements between a set and a list.

In [44]:
int_list=list(range(20))
pow_set.intersection(int_list)

{0, 1, 4, 9, 16}

## 47. Create a set of the first `n` triangular numbers.

In [52]:
triangular_num=set()

In [53]:
ip=int(input("Enter the range: ")) # getting the range numbers as input
for i in range(1,ip+1): # range fn to get the number of values
    y=(((i**2)+i)/2) # cal to get triangular num
    triangular_num.add(y)
    #print(f"Triangle number for {i} is {y}") #output

Enter the range:  5

In [54]:
triangular_num

{1.0, 3.0, 6.0, 10.0, 15.0}

## 48. Check if a set contains another set as a subset.

In [60]:
l1=['a','e','i','o','u']
l1=set(l1)
alphabet=['a', 'b', 'c', 'd','e', 'f', 'g', 'h', 'i', 'j','k', 'l','m', 'n', 'o', 'p','q', 'r', 's','t', 'u','v', 'w', 'x', 'y', 'z']
l1==set(l1),alphabet==set(alphabet)
if l1.issubset(alphabet)== True: # using issubset fn
    print("the list contains another list as a subsequence")

the list contains another list as a subsequence

## 49. Create a set of alternating 1s and 0s of length `n`

In [65]:
tu=(0,1)
n=int(input("Enter the Length of the tuple: "))
n_tup=tuple(tu*n)[0:n] # tuple is multiplied for given input,and the specific index of input len is stored in a variable
print(f"the given length for the tuple is {len(n_tup)}\n {set(n_tup)}") # set deletes the duplicate values

Enter the Length of the tuple:  10000

the length of the tuple is 10000
 {0, 1}

## 50. Merge multiple sets into one

In [68]:
s99=set(range(100))
s100=set(range(500))
s200=set(range(1000))
set258=s99.union(s100,s200)
print(set258)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999}